/*!
 * Sliding menu inspired by - Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
*/

html {
    overflow-x: hidden;
}

html,
body,
.container-fluid,
.map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content,
.content-row,
.page-content-wrapper,
.container-fluid,
.wrapper {
    height: 100%;
}

.hidden {
    display: none;
}

.has-error,
.google-maps-load-error {
    color: red;
    padding: 10px;
}

.google-maps-load-error {
    display: none;
    position: fixed;
    top:45%;
    z-index:1001;
}

.map {
    position: relative;
}

.btn-filter {
    float: left;
}

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

/* Sidebar Styles */
.sidebar-wrapper {
    z-index: 999;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.sidebar-nav {
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 4em;
}

    .sidebar-nav > li {
        text-indent: 20px;
        /*line-height: 40px;*/
        
        text-indent: 0;
        line-height: inherit;
    }

        .sidebar-nav > li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

            .sidebar-nav > li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgb(75,75,75);
                background: rgba(255,255,255,0.2);
            }

            .sidebar-nav > li a:active,
            .sidebar-nav > li a:focus {
                text-decoration: none;
            }

.filter {
    position: fixed;
    z-index: 1000;
    background: black;
    border-bottom: solid 1px #222;
    width: 240px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.place-link {
    padding: 8px 20px 8px 15px;
}

.selected {
    text-decoration: none;
    color: #fff;
    background: rgb(75,75,75);
    background: rgba(255,255,255,0.2);
}

.places-section {
    margin-top: 56px;
}

.mobile-menu {
    position: relative;
}

    .mobile-menu .menu-toggle {
        text-align: right;
    }

.input-group {
    padding: 10px;
    padding-right: 15px;
}

.wrapper-toggled {
    padding-left: 0;
}

.wrapper-toggled .sidebar-wrapper {
    width: 4px;
}

.wrapper-toggled .page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.wrapper-toggled .filter {
    width: 0;
}

.wrapper-toggled .menu-toggle {
    margin-left: 0;
}

.menu-toggle {
    position: fixed;
    top: 47%;
    left: 0;
    z-index: 998;
    margin-left: 246px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

@media(min-width:768px) {
    .menu-toggle {
        display: none;
    }

    .wrapper {
        padding-left: 250px;
    }

    .sidebar-wrapper {
        width: 250px;
    }

    .page-content-wrapper {
        position: relative;
    }
}
